.column {
    background-color: #cacaca;
    display: flex;
    flex-direction: column; 
    margin: 5px;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title{
    display: flex;
    justify-content: center;
}