.card {
    background-color: #343B41;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    text-align: center;
    position: relative;
}

.content{
    display: flex;
    flex-direction: column;
    order: 1;
}

.R{
    order: 2;
}

button {
    background-color: #FF577F;
}

.close-card {
    position: absolute;
    top: 5px;
    right: 5px;
}